* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 440px;
  margin: auto;
}
.heading {
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #ff5200;
  padding: 10px 0;
  margin-bottom: 15px;
}
.Ulist {
  list-style: none;
}
.Ulist li {
  border: 1px solid rgb(136, 129, 129);
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
